.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1rem 1rem;
    background: white;
    margin-left: 5rem;
    margin-right: 5rem;
    height: 15rem;
    border-radius: 1.5rem;
}

.cardInfo{
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;
}

.cardImg{
    border-radius: 1rem;
}
.CardButton{
    font-size: 1.5rem;
    display: block;
    /*width: 10rem;*/
    height: 10rem;
    border-radius: 50%;
    background-color: #D5C6DC;
    width: 0;
    opacity: 0;
    transition: ease 0.3s,
}
@media screen and (max-width: 640px) {
    .CardButton{
    width: 10rem;
    opacity: 100%;
    }
}
.cardContainer:hover  .CardButton{
    width: 10rem;
    opacity: 100%;
}
.ButtonContainer{
    background-color: #572975;
    border-radius: 1rem;
}
.cardContainerImg{
    place-items: center;
    justify-content: center;
    background-color: #572975;
    border-radius: 1rem;
}

