.cardContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.1rem 1rem;
    background: white;
    margin-left: 1rem;
    margin-right: 1rem;
    /* height: 15rem; */
    border-radius: 1.5rem;
    /* padding-right: 1rem; */
}

.cardInfo{
    text-align: left;
    display: flex;
    justify-content: left;
}
.cardImg{
    border-radius: 150px;
    width: 12rem;
    color: white;
    border-color: white;
    background-color: white; 
}
.CardButton{
    font-size: 1.5rem;
    display: block;
    /*width: 10rem;*/
    height: 10rem;
    border-radius: 50%;
    background-color: #D5C6DC;
    width: 0;
    opacity: 0;
    transition: ease 0.3s,
}
@media screen and (max-width: 640px) {
    .cardContainer{
        display: flex;
        flex-direction: column;
    } 
    .CardButton{
        width: 10rem;
        opacity: 100%;
    } 
}
.cardContainer:hover  .CardButton{
    width: 10rem;
    opacity: 100%;
}
.ButtonContainer{
    background-color: #572975;
    border-radius: 1rem;
}
.cardContainerImg{
    place-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1rem;
}

