
.input {
    margin-left: 1rem;
    justify-self: center;
    width: 10rem;
  
}

.contenedorRegistro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    
}
@media screen and (max-width: 640px) {
    .contenedorRegistro{
        display: flex;
        flex-direction: column;
        
    }
}


.izquierda{
    background: url('../../assets/Psyduck_registro.png') center; 
    background-size: cover;
    border-style: solid;
    border-width: 25px;
    border-color: #572975;
}

.derecha{
    display: grid;
    grid-template-rows:subgrid;
    place-items: center;
    text-align: center;
}

.derecha div{
    background-color: white;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px 2px 2px 5px;
    border-color: black black black #572975;
    
}

.tituloRegistro{
    margin-bottom: 10px;
    font-size: 75px;
}

.seleccionador{
    margin-left: 5px;
}