.inputlogin {
    margin-left: 1rem;
    justify-self: center;
    width: 10rem; 
}
.contendorLogin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.izquierdalogin{
    background: url('../../assets/Psyduck_registro.png') center; 
    background-size: cover;
    border-style: solid;
    border-width: 25px;
    border-color: #572975;
}
.derechalogin{
    display: grid;
    grid-template-rows:subgrid;
    place-items: center;
    text-align: center;
}
.derechalogin .loginCuadro{
    background-color: white;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px 2px 2px 5px;
    border-color: black black black #572975;
}
.tituloRegistro{
    margin-bottom: 10px;
    font-size: 75px;
}
.textolink{
    color: #000000;
    font-size: medium;
}