.App{
    text-align: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 45%;
    background: #ab90b9;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 10px;
    width: 85%;
    height: 93%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }


  .doctor {
    display: flex;
    align-items: center;
    margin-bottom: -.5rem;
  }

  .infoFeedback textarea {
    height: 7.5rem;
    width: 100%;
    border-radius: 6px;
  }
  .content button {
    background: #572975;
    color: #fff;
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
    padding: 10px 0;
    border: none;
    font-weight: bolder;
    cursor: pointer;
  }
  button.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .doctor h1 {
    font-size: 3rem;
    padding-left: 30px;
  }
  .doctor h3 {
    font-size: 20px;
    text-align: center;
  }
  .stars{
    align-items: center;
    display: flex;
    font-size: 2.5rem;
    padding: 1px;
  }
  .stars h1{
    font-size: 30px;
  }
  .doctor .caracter{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }

  .infoFeedback{
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
    padding: 10px 0;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    margin-top: -2rem;
  }
  