.DoccardContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-items: center;
    text-align: center;
    margin-left: 1rem;
}

.DocMidContainer{
    display: flex;
    flex-direction: row;
    place-items: center;
    text-align: center;
}
.CardDoctorTop{
    color: black;
    font-size: 3rem;
}

.CardDoctorMid{
    color: black;
    font-size: 1.5rem;

}
.CardDoctorBottom{
    color: black;
    font-size: 1.5rem;
}

