.psicologo {
    margin-left: 2%;
    width: 35%;
    height: auto;
    position: absolute;
    padding: 0;
}

.tittle{
    text-align: center;
    margin-left: 50%;
    margin-bottom: 10%;
}

.mariobuscadoroplolyolopongobonito{
    background-image: url("https://shoplineimg.com/6270c198a039e3002fe13d43/6350f0f34765840022bc45f9/800x.jpg?");
    height: auto;
}

.h1-title{
    font-size: 100px;
    background-color: #815c97;
    margin-top: 60px;
    border-radius: 50px;
}

.h2-title{
    font-size: 70px;
}

.h3-title{
    font-size: 50px;
}

.h4-title{
    margin-top: 350px;
    text-align: center;
    font-size: 36px;
    color: #572975;;
}

.h5-title{
    text-align: right;
    font-size: 36px;
    font-weight: 600;
    width: 1000px;
    margin-left: 50px;

}

.backtop{
    border: none;
    cursor: pointer;
    background: none;
    font-size: 56px;
    font-weight: 600;
    width: 904px;
    height: 155px;
    border-radius: 50px;
    color: #572975;
}

.teamText{
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    width: 1000px;
}

.saying{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    width: 1000px;

}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/src/assets/team.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 781px;
}


.backtopimg{
    text-align: center;
    background-image: url(/src/assets/backtop.png);
    margin-top: 5%;
    margin-bottom: 5%;
    background-position: center;
    height: auto;
    background-repeat: no-repeat;
}

/* .intro-flex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: red;
    
} */