.psicologo {
    /* margin-left: 2%; */
    /* width: 20rem; */
    height: auto;
    position: relative;
    padding: 0;
    /* align-self: center; */
    /* display: flex; */
}
.psicologo-div{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    /* background-color: red; */
    width: 18rem;
  
}

.title{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10%;
    /* background-color: rgb(250, 142, 142); */
    
}

.mariobuscadoroplolyolopongobonito{
    background-image: url("https://shoplineimg.com/6270c198a039e3002fe13d43/6350f0f34765840022bc45f9/800x.jpg?");
    height: auto;
}

.h1-title{
    font-size: 4rem;
    background-color: #815c97;
    margin-top: 60px;
    border-radius: 50px;
}

.h2-title{
    font-size: 3rem;
}

.h3-title{
    font-size: 2rem;
}

.h4-title{
    margin-top: 10rem;
    text-align: center;
    font-size: 36px;
    color: #572975;;
}

.h5-title{
    text-align: right;
    font-size: 1.5rem;
    font-weight: 600;
    width: 1000px;
    margin-left: 50px;

}

.backtop{
    border: none;
    cursor: pointer;
    background: none;
    font-size: 56px;
    font-weight: 600;
    width: 904px;
    height: 155px;
    border-radius: 50px;
    color: #572975;
}

.teamText{
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    width: 1000px;
}

.saying{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    width: 1000px;

}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/src/assets/team.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 781px;
}


.backtopimg{
    text-align: center;
    background-image: url(/src/assets/backtop.png);
    margin-top: 5%;
    margin-bottom: 5%;
    background-position: center;
    height: auto;
    background-repeat: no-repeat;
}
.landing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-items: center;
    flex-shrink: 0
}
.landing-row{
    display: flex;
    flex-direction: row;
   
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 640px) {
    .psicologo-div{
         width: 80%; 
        }
    } 
    /* .landing-row {
        flex-direction: column;
    } */

/* .intro-flex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: red;
    
} */